In [1]:
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats

In [6]:
#pulling Cost of Living index and setting it as a DF

col_df = pd.read_csv(os.path.join("data", "CostOfLiving.csv"))

col_util_df = col_df[["State","utilitiesCost"]]

col_util_df.head()

         State  utilitiesCost
0  Mississippi           89.1
1     Arkansas           91.8
2     Oklahoma           94.1
3     Missouri           99.6
4   New Mexico           87.9